In [ ]:
# Nim/Nama: 19623261/Azfa Radhiyya Hakim
# Tanggal: 16 November 2023
# Deskripsi: Menjawab bedasarkan maisng-masing perintah soal

In [3]:
# Import dan inisialisasi
import pandas as pd
df = pd.read_csv("P05-01.csv")

In [5]:
# Nomor 1
df1 = df["Card_Category"].value_counts()
print(df1)

Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64

In [20]:
# Nomor 2
df2 = df["Credit_Limit"].mean()
print(f'Rata-rata nominal limit kartu kredit adalah {df2}')

Rata-rata nominal limit kartu kredit adalah 8631.953698034955

In [10]:
# Nomor 3
df3 = df.sort_values(["Total_Trans_Ct"], ascending=[0])[:5]
print(df3)

      CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
9324  708163758  Existing Customer            41      M                3
9586  784868958  Existing Customer            56      F                1
9213  719413383  Existing Customer            32      M                1
9629  709015833  Existing Customer            42      M                2
9339  715728108  Existing Customer            27      F                0

     Education_Level Marital_Status Income_Category Card_Category  \
9324         Unknown        Married         $120K +          Blue
9586     High School        Married         Unknown          Blue
9213      Uneducated         Single     $60K - $80K        Silver
9629        Graduate         Single     $60K - $80K        Silver
9339        Graduate        Unknown  Less than $40K          Blue

      Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
9324              33                       4       34516.0
9586              49                       2       17542.0
9213              36                       3       33711.0
9629              36                       3       34516.0
9339              36                       1        4548.0

      Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
9324                  638            13085             139
9586                 2517            13939             138
9213                 1437            14880             134
9629                    0            12920             132
9339                 1450            14330             131

      Avg_Utilization_Ratio
9324                  0.018
9586                  0.143
9213                  0.043
9629                  0.000
9339                  0.319

In [11]:
# Nomor 4
df4 = df.loc[df["Card_Category"] == "Gold"]
print(df4)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
6      810347208  Existing Customer            51      M                4
37     785432733  Existing Customer            42      F                4
303    779749908  Existing Customer            48      M                4
379    716455683  Existing Customer            40      F                3
523    827332983  Existing Customer            46      M                3
...          ...                ...           ...    ...              ...
10029  715268508  Existing Customer            42      M                3
10038  716850558  Existing Customer            48      M                4
10049  715713408  Existing Customer            55      M                2
10085  717714633  Existing Customer            49      M                3
10112  708564858  Attrited Customer            33      M                2

      Education_Level Marital_Status Income_Category Card_Category  \
6             Unknown        Married         $120K +          Gold
37        High School        Married  Less than $40K          Gold
303           College        Married     $60K - $80K          Gold
379       High School         Single  Less than $40K          Gold
523       High School         Single    $80K - $120K          Gold
...               ...            ...             ...           ...
10029        Graduate        Married     $40K - $60K          Gold
10038        Graduate        Unknown     $60K - $80K          Gold
10049        Graduate        Married  Less than $40K          Gold
10085      Uneducated        Married         $120K +          Gold
10112         College        Married         $120K +          Gold

       Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
6                  46                       1       34516.0
37                 36                       3       15433.0
303                33                       2       34516.0
379                36                       2       15534.0
523                42                       2       34516.0
...               ...                     ...           ...
10029              36                       2       23981.0
10038              32                       1       34516.0
10049              46                       5       15987.0
10085              38                       3       14938.0
10112              20                       1       34516.0

       Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
6                     2264             1330              31
37                       0              966              22
303                   2061             1350              32
379                    726             1279              28
523                   2113             1362              31
...                    ...              ...             ...
10029                 1399            14840             125
10038                 1285            15279             122
10049                    0            15853             117
10085                    0            15277             131
10112                    0             9338              73

       Avg_Utilization_Ratio
6                      0.066
37                     0.000
303                    0.060
379                    0.047
523                    0.061
...                      ...
10029                  0.058
10038                  0.037
10049                  0.000
10085                  0.000
10112                  0.000

[116 rows x 16 columns]

In [21]:
# Nomor 5
print((df["Customer_Age"]*12).corr(df["Total_Trans_Amt"]))

-0.04644649085468725

In [22]:
# Pada nomor 5, nilai korelasi antar dua kolom data adalah -0.04, menandakan kedua kolom data tersebut tidak berkorelasi