In [ ]:
# Nim/Nama: 19623261/Azfa Radhiyya Hakim
# Tanggal: 16 November 2023
# Deskripsi: Menjawab bedasarkan maisng-masing perintah soal

In [2]:
# Import dan inisialisasi
import pandas as pd
df = pd.read_csv("P05-01.csv")

In [20]:
# Nomor 1
df1 = df.loc[(df["Attrition_Flag"] == "Attrited Customer") & (df["Gender"] == "F")]
print(df1)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
21     708508758  Attrited Customer            62      F                0
39     708300483  Attrited Customer            66      F                0
51     779471883  Attrited Customer            54      F                1
82     711013983  Attrited Customer            55      F                4
140    789322833  Attrited Customer            48      F                5
...          ...                ...           ...    ...              ...
10092  713437008  Attrited Customer            40      F                3
10105  709646433  Attrited Customer            59      F                1
10119  716893683  Attrited Customer            55      F                3
10124  716506083  Attrited Customer            44      F                1
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
21           Graduate        Married  Less than $40K          Blue
39          Doctorate        Married         Unknown          Blue
51           Graduate        Married  Less than $40K          Blue
82            Unknown        Married     $40K - $60K          Blue
140       High School        Married  Less than $40K          Blue
...               ...            ...             ...           ...
10092        Graduate        Married         Unknown          Blue
10105     High School        Married  Less than $40K          Blue
10119      Uneducated         Single         Unknown          Blue
10124     High School        Married  Less than $40K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
21                 49                       3        1438.3
39                 56                       4        7882.0
51                 40                       3        1438.3
82                 45                       4        2158.0
140                38                       3        8025.0
...               ...                     ...           ...
10092              25                       2        6888.0
10105              50                       4        5043.0
10119              47                       3       14657.0
10124              36                       3        5409.0
10126              25                       2       10388.0

       Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
21                       0              692              16
39                     605              704              16
51                     808              705              19
82                       0              615              12
140                      0              673              18
...                    ...              ...             ...
10092                 1878             9038              64
10105                  743            10170              66
10119                 2517             6009              53
10124                    0            10291              60
10126                 1961            10294              61

       Avg_Utilization_Ratio
21                     0.000
39                     0.077
51                     0.562
82                     0.000
140                    0.000
...                      ...
10092                  0.273
10105                  0.147
10119                  0.172
10124                  0.000
10126                  0.189

[930 rows x 16 columns]

In [12]:
# Nomor 2
a = df["Total_Revolving_Bal"].idxmax()
b = df.loc[a,"CLIENTNUM"]
print("ID dengan total nominal yang belum dibayar pengguna kartu kredit terbesar adalah " + str(b))

ID dengan total nominal yang belum dibayar pengguna kartu kredit terbesar adalah 769911858

In [14]:
# Nomor 3
df3 = df.loc[(df["Education_Level"] == "High School") & (df["Marital_Status"] == "Married")]
print(len(df3))

949

In [15]:
# Nomor 4
df4 = df.loc[df["Total_Trans_Ct"] >= 100]
print(df4["Card_Category"].value_counts())

Card_Category
Blue        526
Silver      121
Gold         32
Platinum      8
Name: count, dtype: int64

In [19]:
# Nomor 5
df5 = df.loc[df["Income_Category"] == "$80K - $120K"]
print(df5.sort_values(["Customer_Age"], ascending=[1])[:5])

      CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
9295  719324658  Existing Customer            27      M                0
766   787456608  Existing Customer            29      M                2
9494  710262408  Existing Customer            29      M                1
1381  720497958  Existing Customer            29      M                1
1677  780374133  Existing Customer            29      M                1

     Education_Level Marital_Status Income_Category Card_Category  \
9295         College        Unknown    $80K - $120K        Silver
766      High School        Married    $80K - $120K          Blue
9494        Graduate        Married    $80K - $120K        Silver
1381        Graduate        Married    $80K - $120K          Blue
1677         College         Single    $80K - $120K          Blue

      Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
9295              19                       1       34516.0
766               15                       2        4158.0
9494              36                       2       34516.0
1381              14                       3       14853.0
1677              19                       3        7010.0

      Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
9295                 1131            14716             112
766                  1635             1678              37
9494                 1666            13971             116
1381                    0             1800              41
1677                 2103             2413              48

      Avg_Utilization_Ratio
9295                  0.033
766                   0.393
9494                  0.048
1381                  0.000
1677                  0.300