In [1]:
# Nim: 19623261
# Nama: Azfa Radhiyya Hakim
# Tanggal: 9 November 2023
# Deskripsi: Menampilkan data sesuai perintah masing-masing soal

In [2]:
import pandas as pd
df = pd.read_csv("H05.csv")

In [3]:
# Nomor 1: Menentukan nilai matematika, kimia, fisika Tuan Ric
x = df.loc[df['nama'] == "Tuan Ric"]
print(x)

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Ric     STEI      96.78      62.23      30.53

In [4]:
# Nomor 2: Menampilkan data mahasiswa dengan nilai fisika tertinggi
x = df["nilai_fis"].max()
print(df.loc[df["nilai_fis"] == x])

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [5]:
# Nomor 3: Menampilkan 10 orang dengan nilai kimia tertinggi
x = df.sort_values(["nilai_kim","nama"], ascending=[False,True])[:10]
print(x)

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [6]:
# Nomor 4: Menentukan banyak mahasiswa yang mendapatkan nilai matematika di bawah 50
x = df.loc[df["nilai_mat"] < 50]
print(len(x))

329

In [7]:
# Nomor 5: Menentukan banyak mahasiswa FMIPA
x = df.loc[df["fakultas"] == "FMIPA"]
print(len(x))

627